<!DOCTYPE html>
<html ng-app="twitterApp">
<head>
    <title>Quiet Tweets</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.min.css">
    <script src="oauth.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
</head>
<body>
<div class="section has-text-centered content" ng-controller="TwitterController">
  <h1>Quiet Tweets</h1>
  <p>A quick and dirty way to tweet without getting hit by the twitter firehose.</p>
        <button ng-click="connectButton()" id="connectButton" type="button" class="button is-info">Sign in to Twitter</button>
        <button ng-click="signOut()" id="signOut" type="button" class="button is-info"">Sign Out</button>
        <button id="userInfo" type="button" class="button is-info">Hi {{ }}</button>
  <section class="section has-text-centered"> <!-- hero is-fullheight -->
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <p class="control">
          <textarea class="textarea twitter-post" type="text" placeholder="What's happening?"></textarea>
        </p>
  <!-- show when tweet above char limit -->
  <!--  <p class="control">
          <span class="help is-danger">Tweet is too long.</span>
        </p> -->
        <p class="control"> <!-- display tweet character count --> <span id="length">0</span> </p>
        <p class="control">
          <button type="button" class="button is-primary is-pulled-right">Post Tweet</button>
        </p>
      </div>
    </div>
  </section>
</div>
<script>
  var text = document.querySelector(".twitter-post");
  var output = document.querySelector("#length");
  text.addEventListener("input", function() {
    output.textContent = text.value.length;
  });
</script>
</body>
</html>
